body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2ede6;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #018294;
}

.logo {
  margin-left: 60px;
  margin-top: 14px;
}

.horizontal-list > div {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.horizontal-list ul {
  display: flex;
  float: left;
  margin-left: -70px;
  justify-content: center;
  align-items: center;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: -20px;
  margin-left: 30px;
  margin-right: 30px;
}

.horizontal-list {
  display: flex;
  margin-left: -60px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  margin: -28px 10px 10px;
}

.horizontal-list a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  float: left;
}

.login {
  float: right;
  margin-right: 60px;
  margin-top: -40px;
}

.login a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  float: left;
  margin-right: 10px;
}

.btn {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: yellow;
  color: black;
}

.h1 {
  margin-left: 57px;
  margin-top: 50px;
}

.flexfiler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.flexfiler img {
  margin: 0;
}

.product-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
}

.product {
  display: flex;
  flex-direction: column;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.product img {
  width: 100%;
  height: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.title img {
  width: 20px;
}

.title .brand {
  font-weight: bold;
}

.star {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.star img {
  height: 20px;
  width: 20px;
}

.star p {
  margin: 0;
}

.star h4 {
  margin-left: 240px;
}

.button {
  margin-top: 30px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  background-color: #018294;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  transition: background-color 0.3s;
}

.button button:hover {
  background-color: #016c77;
}

.support {
  margin-left: 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.support img {
  max-width: 100px;
  height: auto;
}

.title2 h1 {
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.content h1 {
  margin-bottom: 20px;
  margin: 0 0 10px 0;
  font-size: 24px;
}

.content p {
  color: #676562;
  margin-top: 20px;
  margin: 0;
  font-size: 16px;
}

.footer {
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #018294;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.footer .content {
  flex: 1;
}

.footer .sortler {
  margin-top: 40px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .flex-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.rounded-button {
  border-radius: 10%;
  background-color: #f7d047;
}

.footer .rounded-button {
  border-radius: 50px;
  background-color: 30%;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
}

.footer h3 {
  margin-bottom: 20px;
}

.footer img {
  max-width: 100%;
  height: auto;
}

.footer-content {
  margin-left: 120px;
}
